@mixin mobile {
  .home-container {
    background-color: lightskyblue;
  }

  .swiper-container,
  .swiper-wrapper,
  .swiper-slide,
  .slide-image {
    height: 100%;
    width: 100%;
  }

  .home-container {
    overflow: auto;
  }

  .swiper-container {
    .swiper-slide {
      position: relative;
      z-index: 0;
      .slide-image-background {
        filter: blur(30px);
        position: absolute;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        z-index: -1;
      }

      .slide-image {
        object-fit: contain;
        border-radius: 20px;
      }
    }
  }
}

@media (max-width: 520px) {
  @include mobile;
}
